services:
  db:
    image: postgres:16
    container_name: j-support-db
    env_file:
      - .env
    ports:
      - "5438:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
